<h1> All Tags </h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li> <%= link_to tag.name.rjust(1000), tag_path(tag), class: 'tag_title' %> <%= link_to "X".ljust(1000), tag_path(tag), method: :delete, data: { confirm: "Are you sure you want to delete this tag?"} %></li>
  <% end %>
</ul>
